.delivery-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 300px;
    }

    span {
        text-align: center;
        color: white;
        width: 100%;
        padding: 20px;
        font-size: calc(35px + (70 - 35) * ((100vw - 280px) / (1600 - 280)));
        background-color: #2a31f2a4;
    }

    .delivery-images {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;

        .delivery-img {
            width: 500px;
            margin: 20px 0;
        }

    }

    @media screen and(max-width: 800px) {

        img {
            width: 250px;
        }

        .delivery-images {
            flex-direction: column;

            .delivery-img {
                width: 100%;
            }
        }
    }
}