@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); // navigation bar routes font

.App {
    width: 100%;
    background-color: green;
    height: 2000px;
}