.product-not-found {
    font-size: calc(25px + (30 - 25) * ((100vw - 280px) / (1600 - 280)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 10px;
    }

    img {
        width: 280px;
    }
}