.request-confirm {
    font-size: 35px;
    position: absolute;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 80px;
    border: 1px solid black;
    background-color:  #2a31f2a4;
    color: white;
    opacity: 0;
}