.tile {
    justify-self: center; // center item in parent grid system
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    .tile-svg {
        border-radius: 10px;
        background-color: #2a31f2a4;;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        img {
            padding: 10px;
            width: 50%;
        }
 
    }

    .tile-desc {
        font-family: 'Roboto', sans-serif;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        font-size: 20px;
    }
}