@mixin full-row-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-slider-container {
    div {
        div {
            background-size:0%;
            display: flex;
        }

    }
}