.home-about {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #f5f5f5;

    .home-about-content {
        text-align: justify;
        width: 60%;
        p {
            font-size: calc(17px + (20 - 17) * ((100vw - 280px) / (1600 - 280)));
            color: rgba(0, 0, 0, 0.5);
            font-weight: 900;
                span {
                    color: #2a31f2;
                }
        }  
    }
}